# Python
# Bloque tous les dossiers nommés venv, peu importe où ils sont
**/venv/
**/.venv/
__pycache__/
*.pyc

# Node / Ionic
node_modules/
www/
.sourcemaps/
.sass-cache/

# Divers
.DS_Store
.vscode/
